.control {
  display: inline-flex;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: 1px solid;
  font-family: $font-family;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  text-decoration: none;
  cursor: pointer;
}

@mixin button-color($color) {
  background-color: $color;
  border-color: darken($color, 20%);

  @if $color == $white or $color == $transparent {
    color: $default;
  }
  @else {
    color: $white;
  }

  &:hover {
    background-color: darken($color, 5%);
  }

  &:focus {
    background-color: darken($color, 15%);
  }
}

@mixin border-radius($border-radius) {
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
}

.button {
  @extend .control;
  @include button-color($white);
  @include border-radius($control-border-radius);

  &.is-primary { @include button-color($primary); }
  &.is-success { @include button-color($success); }
  &.is-info { @include button-color($info); }
  &.is-warning { @include button-color($warning); }
  &.is-danger { @include button-color($danger); }
}
