.section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.container {
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @include mobile-only() {
    width: 100%;
  }

  @include display-from($tablet) {
    width: $tablet;
  }

  @include display-from($desktop) {
    width: $desktop;
  }

  @include display-from($widescreen) {
    width: $widescreen;
  }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $grey;
    margin: 1rem 0;
    padding: 0; 
}

.row {
  width: 100%;
  margin-right: -$column-gutter;

  &:after {
    clear: both;
  }
}

.column {
  float: left;
  padding-left: $column-gutter;
  padding-right: $column-gutter;

  @include mobile-only() {
    float: none;
    width: 100%;
  }

  @include display-from($tablet) {
    @for $i from 1 through $columns {
      &.column-#{$i} {
        width: ($i / $columns) * 100%;
      }
    }

    @for $i from 1 through $columns {
      &.offset-#{$i} {
        margin-left: ($i / $columns) * 100%;
      }
    }
  }
}