.section {
  padding: 2rem 1.5rem;
}

.container {
  width: $desktop;
  margin: auto;

  @include mobile-only() {
    width: 100%;
  }

  @include tablet-only() {
    width: $tablet;
  }
}

.columns {
  display: flex;
  margin-left: -$column-gutter;
  margin-right: -$column-gutter;
}

.column {
  display: block;
  flex: 1 1 0;
  padding-left: $column-gutter;
  padding-right: $column-gutter;

  @for $i from 1 through $columns {
    &.is-#{$i} {
      flex: none;
      width: ($i / $columns) * 100%;
    }
  }
}
